{% extends "blog/base.html" %}

{% block content %}
<div class = "about-container">
    <div class = "top-image-about">
        <div class = "top-title-about">
            <p class = "main-title-style medium-font light-color">Quiénes somos</p>
            <p class = "main-font-style small-font light-color">Lo primero que ves de tu inmueble es su exterior: sus colores, su forma, su tamaño. Pero detrás de eso, hay un diseño de estructura, un armazón que sostiene lo que ves y permite que lo puedas usar, convirtiéndolo en una pieza sublime y funcional a la vez.</p>
        </div>
    </div>
    <div class = "second-block-about">
        <div class = "left-image-about">
            <div class = "left-image-about-item"></div>
        </div>
        <div class = "content-about">
            <p class = "main-title-style">La prioridad es el diseño</p>
            <div class = "content-list-about">
                <i class="far fa-check-circle"></i>
                <p class = "main-font-style">Nacimos de la idea de ofrecer el mejor servicio, los mejores acabados.</p>   
            </div>
            <div class = "content-list-about">
                <i class="far fa-check-circle"></i>
                <p class = "main-font-style">Nacimos de la idea de ofrecer el mejor servicio, los mejores acabados.</p>   
            </div>
            <div class = "content-list-about">
                <i class="far fa-check-circle"></i>
                <p class = "main-font-style">Nacimos de la idea de ofrecer el mejor servicio, los mejores acabados.</p>   
            </div>
        </div>
    </div>
</div>

{% endblock content %}
