{% extends "blog/base.html" %}

{% block content %}

    <div class ="home-container">
        <div class = "main-container-category">
            <div class = "balcony-title">
                <h1 class = "balcony-title-category main-title-color main-title-style big-font">Soluciones para tus acabados </h1>
            </div>
            <div class = "container-services">
                <div class ="container-services-images">
                    <h1 class ="category-title main-font-style"> {{post.titulo}} </h1>
                    <h1 class ="image-category-item item-1"></h1>
                    <h1 class ="image-category-item item-2"></h1>
                    <h1 class ="image-category-item item-3"></h1>
                </div>
            </div>
            <div class ="container-services">
                <p class="main-font-style">Lorem ipsum dolor sit amet consectetur adipiscing elit parturient nisi, dignissim nostra feugiat purus lacinia ad pulvinar malesuada. Ultrices lacus proin nunc curabitur nascetur massa ante, facilisis scelerisque vulputate imperdiet sapien hendrerit justo, orci pharetra malesuada eget dis ut. Sagittis facilisis fringilla laoreet curae facilisi pretium magna feugiat in, taciti ligula conubia tempor scelerisque ad rutrum lectus, quis egestas donec nisi primis morbi rhoncus orci.

                    Tellus posuere auctor vestibulum fermentum a dui mi ante congue, rutrum morbi risus luctus litora potenti dignissim viverra nisl ligula, gravida porttitor taciti pharetra justo neque laoreet sociosqu. Egestas pharetra vehicula gravida urna aliquet lacus etiam risus primis, aliquam metus quisque mollis torquent aptent pretium vitae facilisis iaculis, dis diam tempor nulla tortor cubilia purus eros. Dictum morbi mi massa magna maecenas odio ad vulputate, at rutrum convallis venenatis molestie ligula pulvinar condimentum arcu, nulla turpis natoque mattis eget class sociosqu.</p>
            </div>
        </div>
        <div class= "main-container-contactbox">
            <div class= "container-contactbox">
                <div class= "contactbox">
                    <a href="https://web.whatsapp.com/" class="socialIcons-module-wsp-icon" target="_blank" rel="noreferrer noopener">
                    <a href="https://web.whatsapp.com/" class="socialIcons-module-wsp-icon" target="_blank" rel="noreferrer noopener">
                        <i class="fab fa-whatsapp icon-style"></i>
                        <p class="main-font-style light-color small-font">Contáctanos vía Whatsapp <strong>aquí</strong></p>
                        
                </div>
            </div>
        </div>
    </div>
    

{% endblock content %}
